/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// global styles can be added here
h1 {
    color: crimson;
}

.error-message {
    color: crimson;
    font-size: 0.8em;
}
